<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "json2" %>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB_cu9OrYJTPnwqInN975RpMhNBrd2Xie8&sensor=true"></script>
	<script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
	<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>	
  </head>

<body onload="initialize()">
  <div class="wrapper">
	<div id="fb-root"></div>
	<script>

	</script>
	
	
	<h1>Where do my friends live around the world?</h1>
	<div class="row">
	    <div id="login-button-box" class="buttonbox">
	        <div class="fb-login-button" scope="user_location,friends_location,friends_checkins,friends_about_me" >Login with Facebook</div>
	    </div>
		<div class="buttonbox">
		    <div id="statusMessage"></div>
	    </div>
	</div>
	<div class="row">
		<div id='mapDiv'></div>
     </div>
  </div>
</body>
</html>