<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <link href='http://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag "main" %>
    <%= javascript_include_tag "json2" %>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB_cu9OrYJTPnwqInN975RpMhNBrd2Xie8&sensor=true"></script>
	<script src="https://apis.google.com/js/client.js?onload=OnLoadCallback"></script>
	<script src="http://code.jquery.com/jquery-1.8.0.min.js"></script>
	
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>	
  </head>

<body onload="initialize()">
  <div class="wrapper">
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : <%= Settings.app_id %>, // App ID
	      status     : true, // check login status
	      cookie     : true, // enable cookies to allow the server to access the session
	      xfbml      : true  // parse XFBML
	    });

	    // Additional initialization code here
	  };

	  // Load the SDK Asynchronously
	  (function(d){
	     var js, id = 'facebook-jssdk', ref = d.getElementsByTagName('script')[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement('script'); js.id = id; js.async = true;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     ref.parentNode.insertBefore(js, ref);
	   }(document));
	</script>
	
	
	<h1>Where do my friends live around the world?</h1>
	<div class="row">
	    <div class="buttonbox">
	        <div class="fb-login-button" scope="user_location,friends_location,friends_checkins,friends_about_me" >Login with Facebook</div>
	    </div>
	    <div class="buttonbox">
		    <input type="button" value="Show friends on map" onclick="main()" id="showfriendsbutton" class="button">
	    </div>
	</div>
	<div class="row">
		<h3 id="plotting">Plotting where friends live ...</h3>
	</div>
	<div class="row">
		<div id='mapDiv'></div>
     </div>
  </div>
</body>
</html>