html { height: 100%;  }

body { color: #5df; font-family: 'Exo', sans-serif; background: #000; height: 100%; margin: 0; padding: 0 }

#map_canvas { width: 800px; height: 600px }

.wrapper {  width: 820px; margin-left: auto ;margin-right: auto ; }

.buttonbox { float: left; padding: 10px; }

.button {
    border: 1px solid #000;
    background: #5df;
    font-size: 13px;
}
.button:hover {
    border: 1px solid #000;
    background: #fff;
    font-size: 13px;

}

.row { clear: both }