html { height: 100%;  }

body { color: #5df; font-family: 'Exo', sans-serif; background: #000; height: 100%; margin: 0; padding: 0 }

#mapDiv { width: 800px; height: 600px; position: absolute; }

.wrapper {  width: 820px; margin-left: auto ;margin-right: auto ; }

.buttonbox { float: left; padding: 10px; }

.button {
    border: 1px solid #000;
    background: #5df;
    font-size: 13px;
}
.button:hover {
    border: 1px solid #000;
    background: #fff;
    font-size: 13px;

}

.row { clear: both }

.infoboxText {
	background-color: White;
	border-style:solid;
	border-width:medium; 
	border-color:DarkOrange; 
	width:240px;
	color: black;
}

.infoboxDescription {
	background-color: White; 
	position:absolute; 
	top:30px; 
	left:10px; 
	width:220px;
	font-size: 14px;
	margin-top: 8px;
}

.infoboxTitle {
	background-color: White; 
	position:absolute; 
	top:10px; 
	left:10px; 
	width:220px;
	font-size: 18px;
	padding-bottom: 4px;
}