html { height: 100%;  }

body { color: #5df; font-family: 'Exo', sans-serif; background: #000; height: 100%; margin: 0; padding: 0 }

#mapDiv { width: 800px; height: 600px; position: absolute; }

#statusMessage { display: none; font-size: 20px }

.wrapper {  width: 820px; margin-left: auto ;margin-right: auto ; }

.buttonbox { float: left; margin: 10px }

.button {
    border: 1px solid #000;
    background: #5df;
    font-size: 13px;
}
.button:hover {
    border: 1px solid #000;
    background: #fff;
    font-size: 13px;

}

#progress_count {
	visibility: hidden;
	margin-bottom: 10px;
	font-size: 18px;
}

.row { clear: both }

.infobox{
    position:relative;
	z-index: 1;
    background-color:white;
    border:1px solid rgb(136, 136, 136);
    left:0px;
    top:0px;
    width:260px;
	max-height:300px;
	overflow: auto;
}

.infobox_close{
    cursor:pointer;
    position: absolute;
    right: 5px;
    top: 5px;
    border:none;
}

.infobox_content{
    margin:5px;
    font-family: Arial;
    font-size:13px;
    line-height:22px;
	color: black;
}

.infobox_pointer{
    width:33px;
    height:38px;
    overflow:hidden;
    position:relative;
    z-index:1;
    left:20px;
    top:-1px;
}

.infobox_title{
	font-size: 16px;
	font-weight: bold;
}

.profile_pic {
	margin: 1px 10px 1px 0;
	width: 40px;
	vertical-align: middle;
	border: solid;
	border-width: 1px;
}